include README.md LICENSE.txt requirements*.txt
recursive-exclude .github *
exclude .readthedocs.yml

recursive-include demo emmopy/owl ontopy/owl *.owl

recursive-include examples/emmodoc *
recursive-exclude examples/emmodoc old/** genfigs/** *.pdf *.html *~

recursive-include demo *
recursive-exclude demo old __pycache__ *~ *.pyc *.off

recursive-include ontopy/factpluspluswrapper/java **
