blessings>=1.7,<2  # core functionality ontology check
Cython>=0.29.21,<3.2  # core functionality speed
defusedxml>=0.7.1,<1  # core functionality parsing
Owlready2>=0.28,!=0.32,!=0.34,<0.49  # core functionality ontology
packaging>=21.0,<26
Pygments>=2.7.4,<3
pyparsing>=2.4.7
PyYAML>=5.4.1,<7
rdflib>=4.2.1,<8  # core functionality graph
requests>=2.31,<3
