mike~=2.1
mkdocs~=1.5; python_version<"3.8"
mkdocs~=1.6; python_version>="3.8"
mkdocs-awesome-pages-plugin~=2.10
mkdocs-material~=9.5; python_version>="3.8"
mkdocs-material~=9.2; python_version<"3.8"
mkdocstrings[python-legacy]~=0.26.2; python_version>="3.9"
mkdocstrings[python-legacy]==0.26.1; python_version=="3.8"

