mike~=2.0
mkdocs~=1.5
mkdocs-awesome-pages-plugin~=2.9
mkdocs-material~=9.5; python_version>="3.8"
mkdocs-material~=9.2; python_version<"3.8"
mkdocstrings[python-legacy]~=0.24.3; python_version>="3.8"
mkdocstrings[python-legacy]~=0.22.0; python_version<"3.8"
