name: Release new EMMOntoPy version

on:
  release:
    types: [published]

jobs:
  build:
    name: External
    uses: SINTEF/ci-cd/.github/workflows/cd_release.yml@v2.9.2
    if: github.repository == 'emmo-repo/EMMOntoPy' && startsWith(github.ref, 'refs/tags/v')
    with:
      git_username: EMMOntoPy Developers
      git_email: "Team4.0@SINTEF.no"
      release_branch: master

      # Publish package
      python_package: true
      python_version_build: "3.9"
      # We're mentioning only 'ontopy', since the version is set statically only in
      # ontopy/__init__.py
      package_dirs: ontopy
      install_extras: "[dev,excel,ontodoc]"
      build_libs: build
      build_cmd: "python -m build -o dists"
      build_dir: dists
      publish_on_pypi: false
      upload_distribution: true

      # Update documentation
      update_docs: true
      python_version_docs: "3.9"
      doc_extras: "[docs]"
      changelog_exclude_labels: dependencies

    secrets:
      PAT: ${{ secrets.RELEASE_PAT }}

  publish:
    name: Publish on PyPI
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: release
      url: https://pypi.org/project/EMMOntoPy
    permissions:
      id-token: write

    steps:
      - name: Download distribution
        uses: actions/download-artifact@v6
        with:
          name: dist  # The artifact will always be called 'dist'
          path: dist

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
